/* style.css */

body {
  background-color: #c0abab; /* Set the background color for the entire page */
  display: flex;
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
  height: 100vh; /* Make sure the container takes up the full height of the viewport */
}

.container {
  text-align: center;
  background-color: #dddfdd; /* Set a white background color for the container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

.flex {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#myInput {
  padding: 10px;
  width: 300px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-right: 10px;
}



ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

li:hover {
  background-color: #e2e6ea;
}
